<h1 >Welcome</h1>
<table  class="border">
    <thead>
           <tr class="bg-blue-500">
            <th class="border p-2">Manager Id</th>
            <th class="border p-2">Manager Name</th>
            <th class="border p-2">Manager Email</th>
            <th class="border p-2">Manager Location</th>
           </tr>
    </thead>
<tbody>
    <tr *ngFor="let value of mngList">
        <td class="border p-2">{{value.mngid}}</td>
        <td class="border p-2">{{value.mngname}}</td>
        <td class="border p-2">{{value.mngemail}}</td>
        <td class="border p-2">{{value.mnlocation}}</td>
    </tr>
</tbody>
</table>